@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(mediaqueries.css);

:root {
    --primary: #a3cc52;
    --primary-100: #1f1f1f;
    --primary-200: #434343;
    --primary-300: #DDD000;
    --primary-400: #808080;
    --primary-500: #d2400b;
    --background: #202124;
    --background-100: #26282b;
    --background-200: #3b3c3f;
    --cardstate-100: #ca8a3c;
    --cardstate-200: #c4bd41;
    --cardstate-300: #578c4b;
    --cardstate-400: #6278b9;
    --font-xs: 10px;
    --font-sm: 12px;
    --font-base: 14px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-2xl: 20px;
    --font-3xl: 22px;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    word-break: break-all;
    hyphens: auto;
    box-sizing: border-box;
}

html, body {  
    margin:0px;  
    height:100%;
} 

body {
    display: flex;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    background-color: var(--background);
    color: #fff;
}

/* General Styles */

h2 {
    font-size: var(--font-3xl);
}

h3 {
    font-size: var(--font-2xl);
}

h4 {
    font-size: var(--font-xl);
    word-break: normal;
}

h5 {
    font-size: var(--font-lg);
}

button {
    padding: 8px 15px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    background-color: var(--primary);
    color: white;
    border-radius: 100px;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

button:hover {
    background-color: var(--primary-400);
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* StartPage Styles */
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

#start-page {
    background: radial-gradient(circle, rgba(163,204,82,1) 0%, rgba(32,33,36,1) 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

#menuppal{
    display: none;
}

#img-start {
    width: 15vw;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.9));
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#img-start:hover {
    cursor: pointer;
}

#dropdown-menu {
    display: none;
}

/* Sidebar styles */

#sidebar {
    grid-area: sidebar;
    background-color: var(--background-100);
    display: none;
    flex-direction: column;
    min-height: 100vh;
}

#company-logo {
    height: 65px;
    background-color: #A3CC52;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px 10px 0;
    margin: 25px;
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 25px;
}

#nav-buttons li {
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#nav-buttons li:hover {
    background-color: var(--primary);
}

/* Content styles */

#content {
    grid-area: content;
    display: none;
    min-height: 100%;
    align-content: start;
}

#main-header {
    display: none;
    grid-area: header;
}

header {
    padding: 30px 40px;
    align-items: center;
    justify-content: space-between;
    
}

header h2 {
    margin-right: 30px;
}

#details-header {
    grid-area: details-header;
}

.project-card {
    background-color: var(--background-100);
    border-radius: 8px;
    cursor: pointer;
}

.project-card:hover {
    outline: 2px solid var(--primary);
}

.card-header {
    display: flex;
    column-gap: 20px;
    padding: 15px 20px;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid #3b3c3f;
    height: 60px;
}

.card-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}

.card-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#projects-list {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

/* Form Styles */

dialog {
    background-color: transparent;
    border: none;
    margin: auto;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

form {
    width: 450px;
    border-radius: 10px;
    background-color: var(--background-100);
    color: white;
}

form h2 {
    padding: 20px;
    border-bottom: 2px solid var(--background-200);
}

form .input-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 25px;
}

form .form-field-container {
    display: flex;
    flex-direction: column;
}

label {
    font-size: var(--font-base);
    margin-bottom: 10px;
    font-weight: 500;
    color: rgba(150, 150, 150, 1);
    display: flex;
    align-items: center;
    column-gap: 5px;
}

input,
textarea,
select {
    color: white;
    background-color: var(--background-200);
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: var(--font-base);
    resize: none;
    word-break: normal;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--primary);
}

/* Project details page */

.dashboard-card {
    background-color: var(--background-100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.dashboard-card

#project-details > .main-page-content {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: 475px 1fr;
    height: 100%;
}

.btn-secondary {
    background-color: transparent;
    outline: 2px solid #969696;
    width: 100px;
    text-align: center;
}

.btn-secondary:hover {
    background-color: var(--primary);
    outline: none;
}

#todo-list {
    padding-bottom: 10px;
}

.todo-item {
    padding: 20px;
    background-color: var(--background-200);
    border-radius: 10px;
    cursor: pointer;
}

#todo-btn {
    width: auto;
}

#import-projects-btn, #export-projects-btn {
    width: auto;
    background-color: var(--primary-200);
}

.todo-item:hover, .btn-files:hover {
    outline: 2px solid var(--primary);
}

.todo-item div div span {
    padding: 10px;
    background-color: #686868;
    border-radius: 10px;
}

#edit-form-btns, #edit-todo-btns {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0;
}

#delete-edit-btn, #delete-todo-btn {
    justify-self: start;
}

.btn-delete {
    width: auto;
}

.btn-delete:hover {
    background-color: var(--primary-500);
}

#popup-choice form div, #popup-error form div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 20px 0 20px auto;
    padding: 20px 30px 20px 0;
    border-top: 2px solid var(--background-200);
}

#text-error, #text-choice {
    padding: 60px;
    font-size: var(--font-2xl);
    text-align: center;
    word-break: normal;
}

/* Model viewer */
#viewer-container {
    width: 100%;
    height: 100%;
    background-color: var(--background-200);
    border-radius: 10px;
    padding: 20px;
    grid-area: viewer;
}

#img-ifc-viewer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Start Page */
#start-enter {
    padding: 2rem;
    margin-top: 5rem;
    cursor: pointer;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--primary);
    color: var(--background-200);
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
    outline: 4px solid var(--primary-100);
}

#start-enter:hover {
    background-color: var(--background-200);
    color: var(--primary-400);
}